.adprghp
{
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    
}
.perghrap
{
    text-align: justify;
    font-size: 15px;

}
/* .adprgh
{
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 22px;
} */
/* .card__lap
{
    text-align: justify;
} */